{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Select your Tags</title>
<link href="{% static 'css/_all.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/aero.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/blue.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/green.css' %}" rel="stylesheet" type='text/css' media="all">
<link href="{% static 'css/grey.css' %}" rel='stylesheet' type='text/css' media="all"/>
<link href="{% static 'css/orange.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/pink.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/purple.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/red.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/yellow.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/line.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="{% static 'js/icheck.js' %}"></script>
</head>
<body>
    <!--<div class="header" id="home">-->
    <div class="container">
        <ul>

        <p>hello</p>
        <p>welcome {{ user.username }}</p>



             <div class="container">
                            <h3 >What is your<span> Passion</span></h3>
                        </div>

                        <div class="container">
                            <form action="{% url 'edit_tag' %}" method="post">
                                {% csrf_token %}
                               <div class="row">
                                {% for i in taglist %}
                                <div class="col-md-2" style="padding:0px;">
                                    {% if i in l %}
                                        <input type="checkbox" name="recommendations" value="{{i.Tag_Name}}" checked>
                                    {% else %}
                                        <input type="checkbox" name="recommendations" value="{{i.Tag_Name}}">
                                    {% endif %}
                                <label>{{i.Tag_Name}}</label>
                                </div>
                                <br>
                                 {% endfor %}
                                </div>
                     <input type="submit"/ value="SUBMIT">
                    </form>        
   
            </div>
        
    
        
    
</div>



</body>
</html>
